    <header class='main-header'>
      <nav class='main-nav'>
          <ul class='item-list'>
            <%_ if (!locals.path) locals.path = '' -%>
              <ul class='item-list'>
                  <li class = '<%= path === '/' ? 'item active' : 'item' %>'>
                    <a href='/'>Shop</a>
                  </li>
                  <li class = '<%= path === '/products' ? 'item active' : 'item' %>'>
                    <a href='/products'>Products</a>
                  </li>
                  <li class = '<%= path === '/cart' ? 'item active' : 'item' %>'>
                    <a href='/cart'>Cart</a>
                  </li>
                  <li class = '<%= path === '/orders' ? 'item active' : 'item' %>'>
                    <a href='/orders'>Orders</a>
                  </li>
                  <li class = '<%= path === '/admin/add-product' ? 'item active' : 'item' %>'>
                    <a href='/admin/add-product'>Add Product</a>
                  </li>
                  <li class = '<%= path === '/admin/products' ? 'item active' : 'item' %>'>
                    <a href='/admin/products'>Admin Products</a>
                  </li>
              </ul>
          </ul>
      </nav>
    </header>