<%- include('../includes/head.ejs') %>
    <link rel='stylesheet' href='/css/product.css'>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class='centered'>
                <section class='product-detail'>
                    <% if (product !== undefined) { %>
                        <div class='product-detail__image'>
                            <img src='/images/<%= product.image %>' alt='<%= product.title %>'>
                        </div>
                        <section class='product-detail__spec'>
                            <h1><%= product.title %></h1>
                            <hr>
                            <h2 class='price'><%= formatCurrency(product.price) %></h2>
                            <p><span class='author text__secondary bold'><%= product.author %></span> (author)</p>
                            <p>Published <%= product.published %></p>
                            <article class='description'>
                                <% if (product.description) { %>
                                    <h3 class='bold'>Description</h3>
                                    <%- formatParagraphs(product.description) %>
                                <% } else { %>
                                    <h3 class='bold'>Summary</h3>
                                    <p><%= product.summary %></p>
                                <% } %>
                            </article>
                            <%- include('../includes/add-to-cart.ejs') %>
                        </section>
                    <% } else { %>
                        <div class='product-detail__image'>
                            <img src='/images/not-found.png' alt='book not found'>
                        </div>
                        <section class='details__spec'>
                            <h1>Book not found!</h1>
                        </section>
                    <% } %>
                </section>
            </main>
        <%- include('../includes/end.ejs') %>