<!DOCTYPE html>
<html lang='en'>
<%- include('../includes/head') %>
<body>
<%- include('../includes/header') %>
    <main class='container'>
        <div class='col'>
            <h1><%= pageTitle %></h1>
            <hr class='mb-4'>
            <%_ if (locals.products && products.length) { -%>
            <div class="grid">
                <%_ for ({title, imageUrl, description, price} of products) { -%>
                <article class="card product-item">
                    <header class="card-header">
                        <h1 class="product-title"><%= title %></h1>
                    </header>
                    <div class="card-image">
                        <img src="/images/<%= imageUrl %>" alt="<%= title %>"/>
                    </div>
                    <div class="card-content">
                        <h2 class="product-price">£<%= price %></h2>
                        <p class="product-description"><%= description %></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn cart">Add to Cart</button>
                    </div>
                </article>
                <%_ } -%>
            <%_ } else { -%>
                <h1>No Products Found</h1>
            <%_ } -%>
            </div>
        </div>
    </main>
</body>
</html>